.bundle
db/*.sqlite3
log/*
tmp/*
nbproject/*
config/database.yml
config/secrets.yml
config/sunspot.yml
public/system/*
public/downloads/*
public/tmp/*
public/cache/*
public/assets/*
public/uploads/*
*.swp
vendor/cache
.DS_Store
db/schema.rb
Gemfile.lock
solr/data/
solr/pids/
.sass-cache/
.idea/*
.idea/
*.sql
.env
