<script type="text/javascript" >
  <!--

  function art_dialog(){
    art.dialog({
      title: '欢迎',
      content: '欢迎来到许邦伟业采购报后台，刷新单个页面请点击标签刷新！',
      icon: 'succeed',
      follow: document.getElementById('btn2'),
      ok: function(){
        this.title('警告').content('刷新单个页面请点击标签刷新！, 两秒后就关闭啦！').lock().time(2);
        return false;
       }
    });
  };

//-->
</script>

<div class='mb20'>
  <a href="javascript:void(0);" onclick="art_dialog();">
    欢迎来到许邦伟业后台！
  </a>
</div>


