<!DOCTYPE html>
<html>

  <head>
    <title>[许邦伟业]后台管理</title>
     <%= stylesheet_link_tag    "admin_login", :media => "all" %>
     <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
